.img-card1-ellas {
  object-fit: cover;           /* mantiene proporción y llena el contenedor */
  object-position: center 10%; /* mueve la imagen hacia abajo */
}

.boton-volver-inicio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;       /* para evitar salto de línea dentro del botón */
  width: auto;                  
  min-width: 160px;   
  font-size: 0.95rem;
  color: var(--blanco);
  border: 2px solid var(--verdeNeon);
  box-shadow: 1px 1px 10px var(--verdeNeon);
  background-color: rgba(0, 23, 34, 0.4);
  transition: all 0.25s ease;
}

.boton-volver-inicio:hover {
  background-color: var(--azulPetroleo);
  color: var(--blanco);
  border: 2px solid var(--ambar);
  box-shadow: 1px 1px 10px var(--ambar);
}

.boton-volver-inicio:focus {
  outline: none;
  background-color: var(--azulPetroleo) !important;
  border: 1px solid var(--verdeNeon) !important;
  box-shadow: 1px 1px 1px 1px var(--verdeNeon) !important;
}

.text-ambar {
  color: var(--ambar);
  font-weight: 600;
}