.textarea-mensaje {
  height: 132px !important;
}

.boton-volver-inicio {
  margin-top: 10px;
  width: 60%;
  max-width: 180px;
  padding: 6px 14px;
  font-size: 0.9rem;
  color: var(--blanco);
  border: 2px solid var(--verdeNeon);
  box-shadow: 1px 1px 10px var(--verdeNeon);
  background-color: rgba(0, 23, 34, 0.4);
  transition: all 0.3s ease;
}

.boton-volver-inicio:hover {
  background-color: var(--azulPetroleo);
  color: var(--blanco);
  border: 2px solid var(--ambar);
  box-shadow: 1px 1px 10px var(--ambar);
}

.boton-formulario {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  color: var(--blanco);
  border: 2px solid var(--blanco);
  box-shadow: 1px 1px 10px var(--blanco);
  background-color: rgba(0, 23, 34, 0.4);
  transition: all 0.3s ease;
}

.boton-formulario:hover {
  background-color: var(--azulPetroleo);
  color: var(--ambar);
  border-color: var(--ambar);
  box-shadow: 1px 1px 10px var(--ambar);
}
