/* El carrusel mantiene una relación de aspecto (alto proporcional al ancho) */
.carousel-ratio {
  position: relative;
  width: 100%;
  aspect-ratio: 18/6; /* tamaño de las imagenes */
  overflow: hidden;
}

.carousel-ratio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boton-alquilar {
  top: 410px;
  right: 20px;
  z-index: 20;
  padding: 10px 20px;
  font-size: 1.1rem;
}
