:root {
  --rosa: #f78cc7;
  --magenta: #e60e42;
  --azulPetroleo: #043b38;
  --negro: #00090f;
  --blanco: #ecf5fb;
  --grisClaro: #57656c;
  --grisOscuro: #23333b;
  --ambar: #ffbf00;
  --verdeNeon: #14ff00;
  --verdeExito: #2ecc71;
}

.carousel-ratio {
  position: relative;
  width: 100%;
  aspect-ratio: 18/6;
  overflow: hidden;
}

.carousel-ratio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Texto del carrusel */
.carousel-caption .caja-texto {
  width: 50%;
  padding: 0px;
  color: var(--blanco);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Ajuste posición de imagen  */
.img-posicion {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.card-imagen-contenedor {
  height: 250px;
  overflow: hidden;
  border-radius: 16px;
}

/* BOTÓN "ALQUILÁ YA" */
.boton-alquilar {
  position: absolute;
  top: 80%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 20;
  padding: 8px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--blanco);
  border: 2px solid var(--blanco);
  box-shadow: 1px 1px 10px var(--blanco);
  background-color: rgba(0, 23, 34, 0.4);
  transition: all 0.3s ease;
}

.boton-alquilar:hover {
  background-color: var(--azulPetroleo);
  color: var(--ambar);
  border-color: var(--ambar);
  box-shadow: 1px 1px 10px var(--ambar);
}

/* CARDS */
.card-catalogo {
  box-shadow: 3px 3px 20px var(--verdeExito);
  overflow: hidden;
  transition: all 0.3s ease;
  color: var(--blanco);
  text-shadow: 0px 0px 500px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
}

.texto-card {
  flex: 1;
}

.card-catalogo:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 25px var(--verdeNeon);
  background-color: rgba(0, 0, 0, 0.407);
}

.card-img-altura {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
}

/* Overlay de la card */
.card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.538);
}

/* carrusel publicidad */
.slider-publicidad {
  overflow: hidden;
  width: 100%;
  height: 120px; /* altura del carrusel */
  position: relative;
}

.slider-publicidad .slider-track {
  display: flex;
  flex-wrap: nowrap;
  animation: scrollLeft 20s linear infinite;
}

.slider-publicidad .slide {
  flex: 0 0 auto;
  width: 200px;
  height: 120px;
  margin-right: 0px;
}

.slider-publicidad .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Posicionamiento individual de imágenes */

.slider-publicidad .publi1 {
  object-position: center 20%;
}
.slider-publicidad .publi2 {
  object-position: center 50%;
}
.slider-publicidad .publi3 {
  object-position: center 70%;
}
.slider-publicidad .publi4 {
  object-position: center 60%;
}
.slider-publicidad .publi5 {
  object-position: center 80%;
}

/* Animación continua */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* mantiene loop suave */
}

.card .boton-catalogo {
  margin-top: 1px;
  padding: 6px 14px;
  font-size: 0.9rem;
  color: var(--blanco);
  border: 2px solid var(--blanco);
  box-shadow: 1px 1px 10px var(--blanco);
  background-color: rgba(0, 23, 34, 0.4);
  transition: all 0.3s ease;
  margin-top: auto;
}

.card .boton-catalogo:hover {
  background-color: var(--azulPetroleo);
  color: var(--ambar);
  border-color: var(--ambar);
  box-shadow: 1px 1px 10px var(--ambar);
}

.btn-verde{
  background-color: var(--verdeExito);
  border-color: var(--verdeExito);
}

.btn-verde:hover{
  background-color: var(--verdeNeon);
  border-color: var(--verdeNeon);
  color: var(--azulPetroleo);
}

.btn-verde:focus{
  background-color: var(--verdeNeon)!important;
  border-color: var(--verdeNeon);
  color: var(--azulPetroleo);
}


/*MEDIA QUERIES */

/* MÓVIL */
@media (max-width: 767px) {
  .carousel-ratio {
    aspect-ratio: 1/1;
  }

  .card .boton-catalogo {
    width: 70%;
    font-size: 0.8rem;
  }

  /* Botón en la parte de abarosajo */
  .card .boton-catalogo {
    width: 70%;
    font-size: 0.8rem;
  }

  /* Ajuste botón “Alquilá ya” */
  .boton-alquilar {
    top: 90%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 1rem;
    padding: 6px 16px;
  }
}

/* Tablet */
@media (768px<= width <=991px) {
  .carousel-ratio {
    aspect-ratio: 18/9;
  }
  .carousel-caption .caja-texto {
    width: 60%;
    padding: 4px 8px;
  }
}

/* Large / GRANDE */
@media (min-width: 992px) {
  .card .boton-catalogo {
    font-size: 1rem;
  }
}

/* Achicar modal de "Ver Producto" */
.modal-dialog.modal-ver-producto {
  max-width: 240px !important;
  width: 240px !important;
  margin: auto !important;
}

/* BOTÓN ALQUILÁ YA - ajuste móvil */
@media (max-width: 767px) {
  .boton-alquilar {
    top: 90%;
    right: 50%;
    transform: translate(50%, -50%); /* centrado horizontal */
    font-size: 1rem; /* opcional, reducir tamaño en móvil */
    padding: 6px 16px;
  }
}
