button.boton-cancelar-turno {
  padding: 8px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
}

button.boton-cancelar-turno:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: black;
  border-color: white;
}
.card-resumen-turno {
  border: 3px solid #e0e0e0; /* borde más grueso */
  border-radius: 12px;        /* opcional, más redondeo */
}

.fondo-azul-transparente {
  background-color: rgba(114, 221, 51, 0.15); /* VERDE MUY suave y transparente */
  border-radius: 12px;
  padding: 15px;
  backdrop-filter: blur(2px); /* efecto vidriado muy leve */
}