@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


main{
  flex-grow: 1;
}



.titulo{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}